@import './_fonts';
@import './_reset';

:root {
	--black: #000000;
	--white: #ffffff;
	--gray-800: #2e2b2b;
	--gray-500: #838383;
	--gray-400: #556987;
	--gray-300: #d4d8e1;
	--gray-200: #f9f9f9;
	--gray-100: #f8f9fa;
	--primary-500: #00339c;
	--primary-400: #1c57df;
	--primary-300: #0073b4;
	--primary-200: #0474b5;
	--secondary-500: #cb1517;
	--highlight-500: #ffb843;
	--shadow: 4px 4px 10px -2px rgba(34, 60, 80, 0.15);
	--pagination-shadow: 0px 1px 2px 0px rgba(42, 51, 66, 0.06);
	--map-shadow: 0px 46px 80px 0px rgba(40, 54, 91, 0.02),
		0px 19.218px 33.422px 0px rgba(40, 54, 91, 0.01),
		0px 10.275px 17.869px 0px rgba(40, 54, 91, 0.01),
		0px 5.76px 10.017px 0px rgba(40, 54, 91, 0.01),
		0px 3.059px 5.32px 0px rgba(40, 54, 91, 0.01),
		0px 1.273px 2.214px 0px rgba(40, 54, 91, 0.01);
}

// Common

@media only screen and (min-width: 768px) {
	html {
		scrollbar-color: var(--primary-500) var(--gray-200);
		scrollbar-width: thin;

		&::-webkit-resizer {
			width: 8px;
			height: 8px;
		}
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		&::-webkit-scrollbar-button {
			width: 0px;
			height: 0px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-500);
		}
		&::-webkit-scrollbar-track {
			background-color: var(--gray-200);
		}
	}
}
body {
	background-color: var(--white);
	color: var(--black);
	font-family: Rubik;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
}

h1,
.h1 {
	color: var(--primary-500);
	font-size: clamp(28px, 4.5vw, 52px);
	font-weight: 500;
	line-height: 125%;
}
h2,
.h2 {
	color: var(--black);
	font-size: clamp(24px, 4vw, 42px);
	font-weight: 500;
	line-height: 125%;
	letter-spacing: 1px;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
}
@media (max-width: 768px) {
	.main {
		row-gap: 30px;
	}
}
.container {
	max-width: 1410px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
@media (max-width: 768px) {
	.container {
		padding: 0 17px;
	}
}
section:not([class]) {
	width: 100%;
}
img {
	user-select: none;
}
.button {
	position: relative;
	padding: 12px 30px;
	border-radius: 8px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 125%;
	transition: opacity 0.1s ease-in-out, background 0.1s ease-in-out,
		color 0.1s ease-in-out;

	&:hover {
		cursor: pointer;
		opacity: 0.9;
		text-decoration: none;
	}

	&:active {
		opacity: 1;
	}

	&-uppercase {
		font-size: clamp(18px, 3vw, 24px);
		font-weight: 500;
		line-height: 102.917%;
		text-transform: uppercase;
	}

	&-secondary {
		background: var(--secondary-500);
		color: var(--white);
		&:hover {
			color: var(--white);
		}
		&:active {
			color: var(--white);
		}
	}

	&-primary {
		background: var(--primary-500);
		color: var(--white);
		&:hover {
			color: var(--white);
		}
		&:active {
			color: var(--white);
		}
	}

	&-gray {
		color: var(--primary-500);
		background: var(--gray-200);
		&:hover {
			color: var(--white);
			background: var(--primary-500);
		}
		&:active {
			color: var(--white);
			background: var(--primary-500);
		}
	}

	&-back {
		padding: 5px 15px 5px 12px;

		color: var(--primary-500);
		background: var(--gray-100);
		&:hover {
			color: var(--primary-500);
		}
		&:active {
			color: var(--primary-500);
		}

		&::before {
			content: '';
			position: absolute;
			left: -13px;
			width: 12.75px;
			top: 0;
			bottom: 0;
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-right: 14px solid var(--gray-100);
		}
	}
}
a {
	text-decoration: none;
	color: inherit;
	transition: color 0.1s ease-in-out;

	&:hover {
		cursor: pointer;
		color: inherit;
	}
	&:active {
		color: var(--primary-500);
	}
}
.link {
	&-nav {
		color: var(--gray-500);
		font-size: 18px;
		font-weight: 400;
		line-height: 125%;

		&:hover {
			color: var(--primary-500);
		}
		&:active {
			color: var(--primary-500);
		}
	}
	&-active {
		color: var(--primary-500);
	}
}
.item {
	&-current {
		background: var(--gray-100);
	}
}
.text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 400;
	line-height: 165%;

	&-gray {
		color: var(--gray-500);
	}

	&-container {
		max-width: 1160px;
	}
}
@media (max-width: 480px) {
	.text {
		line-height: 135%;
	}
}
.p {
	color: var(--black);
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 400;
	line-height: 125%;
}
@media (max-width: 480px) {
	.p {
		line-height: 135%;
	}
}

.frame {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding: 10px;
	border-radius: 250px;
	overflow: hidden;
	border: 5px solid var(--primary-300);
	overflow: hidden;
	img {
		border-radius: inherit;
	}
}
@media (max-width: 768px) {
	.frame {
		padding: 5px;
		border-radius: 128px;
		border: 2.5px solid var(--primary-300);
	}
}

.pagination {
	display: flex;
	width: fit-content;
	border-radius: 6px;
	border: 1px solid var(--gray-300);
	background: var(--white);
	box-shadow: var(--pagination-shadow);

	&-item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 34px;
		color: var(--gray-400);
		font-family: Poppins;
		font-size: 14px;
		font-weight: 500;
		line-height: 142.857%;
		transition: background 0.1s ease-in-out, color 0.1s ease-in-out;

		&:hover {
			background: var(--gray-100);
		}

		&:not(:first-child) {
			border-left: 1px solid var(--gray-300);
		}
	}

	&-prev {
		border-radius: 6px 0 0 6px;
		&::after {
			content: url('/img/icon/arrow-prev-sm.svg');
			height: 16px;
			width: 16px;
		}
	}
	&-next {
		border-radius: 0 6px 6px 0;
		&::after {
			content: url('/img/icon/arrow-next-sm.svg');
			height: 16px;
			width: 16px;
		}
	}
}

// swiper
.swiper {
	width: 100%;
}
.swiper-slide {
	display: flex;
	height: auto;
}
.swiper-button-prev {
	background-image: url('/img/icon/arrow-prev.svg') !important;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	width: 32px;
	height: 32px;
	left: 0;
	z-index: 1;
	&::after {
		display: none;
	}
}
.swiper-button-next {
	background-image: url('/img/icon/arrow-next.svg') !important;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
	width: 32px;
	height: 32px;
	right: 0;
	z-index: 1;
	&::after {
		display: none;
	}
}
.slide-overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.2) url('/img/icon/play.svg') no-repeat center /
		40% auto;
	border-radius: inherit;
	cursor: pointer;
	z-index: 1;
}

// header
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--white);
	border-bottom: 1px solid var(--highlight-500);
	margin-bottom: 30px;
	position: sticky;
	top: 0;
	z-index: 2;

	&__inner {
		padding: 15px 10px;
		max-width: 1410px;
		display: flex;
		gap: 30px;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: var(--white);
		z-index: 3;
	}

	&__logo {
		max-width: 330px;
		min-width: 330px;

		&-md {
			display: none;
			width: 84px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		gap: 20px;
		height: 100%;
		width: 100%;
	}

	&__contact {
		display: flex;
		align-items: center;
		gap: clamp(20px, 5vw, 80px);

		&-tel {
			white-space: nowrap;
			color: var(--primary-500);
			font-size: 24px;
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;

			&:hover {
				color: var(--primary-200);
			}
		}

		&-social {
			display: flex;
			gap: 15px;
		}

		&-item {
			display: inline-block;
			width: 32px;
			height: 32px;
			overflow: hidden;
		}
	}

	&__nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		width: 100%;
	}

	&__menu {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		width: 32px;
		background-color: var(--white);
		border-radius: 3px;
		overflow: hidden;

		&-checkbox {
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			left: -4px;
			z-index: 3;
			opacity: 0;
			cursor: pointer;

			&:hover {
				~ .header__menu-lines .line {
					background-color: var(--gray-500);
				}
			}

			&:checked {
				~ .header__menu-lines .line1 {
					transform: rotate(45deg);
					transition: transform 0.4s ease-in-out,
						background-color 0.2s ease-in-out;
				}

				~ .header__menu-lines .line2 {
					transform: scaleY(0);
					transition: transform 0.2s ease-in-out,
						background-color 0.2s ease-in-out;
				}

				~ .header__menu-lines .line3 {
					transform: rotate(-45deg);
					transition: transform 0.4s ease-in-out,
						background-color 0.2s ease-in-out;
				}
			}
		}

		&-lines {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 18px;
			width: 24px;
			z-index: 2;

			.line {
				display: block;
				height: 2px;
				width: 100%;
				border-radius: 10px;
				background: var(--black);
			}

			.line1 {
				transform-origin: 0% 0%;
				transition: transform 0.4s ease-in-out,
					background-color 0.1s ease-in-out;
			}

			.line2 {
				transition: transform 0.2s ease-in-out,
					background-color 0.2s ease-in-out;
			}

			.line3 {
				transform-origin: 0% 100%;
				transition: transform 0.4s ease-in-out,
					background-color 0.3s ease-in-out;
			}
		}

		&-container {
			position: absolute;
			height: 100%;
			width: 100%;
			max-width: 1390px;
		}

		&-expand {
			position: absolute;
			top: -100%;
			right: 0;
			display: flex;
			align-items: flex-start;
			width: 340px;
			max-height: 400px;
			padding: 35px 30px;
			flex-direction: column;
			gap: 30px;
			background-color: var(--white);
			box-shadow: var(--shadow);
			z-index: 2;
			height: 0;
			opacity: 0;
			overflow: auto;
			scrollbar-width: thin;
			overscroll-behavior: contain;
			transition: opacity 0.2s ease-in-out, height 0.2s ease-in-out,
				top 0.2s ease-in-out;

			.header__list {
				align-items: flex-start;
				flex-direction: column;
				gap: 15px;
			}
			.header__contact {
				gap: 15px;
				flex-wrap: wrap;
			}
		}
		&-expand.open {
			top: calc(100% + 1px);
			height: auto;
			opacity: 1;
		}
	}

	&__mobile {
		display: none;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		z-index: 3;

		&-logo {
			width: 42px;
		}
		&-button {
			padding: 8px 15px;
		}
	}
}
@media (max-width: 1200px) {
	.header {
		&__logo {
			display: none;
			&-md {
				display: block;
			}
		}
	}
}
@media (max-width: 768px) {
	.header {
		margin-bottom: 15px;
		&__inner {
			padding: 15px 17px;
		}
		&__logo {
			&-md {
				display: none;
			}
		}
		&__content {
			display: none;
		}
		&__menu {
			&-expand {
				left: 0;
				width: 100%;
			}
		}

		&__mobile {
			display: flex;
		}
	}
}

// breadcrumbs
.breadcrumbs {
	&__container {
		margin-bottom: 30px;
		z-index: 1;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 5px 14px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 5px 5px 5px 12px;
		border-radius: 5px 0px 0px 5px;
		background: var(--gray-100);
		color: var(--gray-800);
		font-size: 14px;
		font-weight: 400;
		line-height: 125%;

		&::after {
			content: '';
			position: absolute;
			right: -13px;
			width: 12.75px;
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-left: 14px solid var(--gray-100);
		}
	}
}
@media (max-width: 768px) {
	.breadcrumbs {
		&__container {
			margin-bottom: 15px;
		}
	}
}

// footer
.footer {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	border-top: 3px solid var(--gray-300);
	background: var(--white);

	.p span:first-child {
		margin-right: 15px;
	}

	.p span {
		white-space: nowrap;
	}

	&__inner {
		padding: 90px 10px;
		max-width: 1410px;

		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 2fr 1fr;

		justify-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	&__logo {
		max-width: 330px;
		min-width: 230px;
	}

	&__menu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		justify-items: center;
		width: 100%;
		gap: 5px 15px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-shrink: 1;
		gap: 15px;
	}

	&__contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 22px;

		&-adress {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-mail {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-group {
			display: flex;
			align-items: center;
			gap: 10px 15px;
			flex-wrap: wrap;
		}

		&-tel {
			white-space: nowrap;
			color: var(--primary-500);
			font-size: clamp(18px, 1.5vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
			&:hover {
				color: var(--primary-200);
			}
		}

		&-social {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-item {
			display: inline-block;
			width: 32px;
			height: 32px;
			overflow: hidden;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 15px;
		}
	}
}
@media (max-width: 768px) {
	.footer {
		&__inner {
			grid-template-columns: 1fr;
			padding: 30px 17px;
		}

		&__info {
			align-items: center;
			text-align: center;
			row-gap: 5px;
		}

		&__logo {
			margin-bottom: 15px;
		}
		&__menu {
			align-items: center;
		}
		&__list {
			row-gap: 5px;
		}
		&__contact {
			align-items: center;
			row-gap: 15px;
		}
	}
}
@media (max-width: 480px) {
	.footer {
		font-size: 14px;

		.p span:first-child {
			margin-inline: 10px;
		}
		.p span {
			width: 100%;
		}

		&__inner {
			gap: 15px;
		}

		&__link {
			font-size: 14px;
		}
		&__contact {
			&-adress {
				gap: 10px;
				margin-bottom: -10px;
			}

			&-mail {
				gap: 10px;
			}
		}
	}
}

// head (the first block of page)
.head {
	&__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		width: 100%;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__text {
		color: var(--black);
		font-size: clamp(18px, 2.5vw, 24px);
		font-weight: 400;
		line-height: 125%;
	}

	&__image {
		width: 620px;
		max-width: 100%;
		flex-shrink: 0;
	}
}
@media (max-width: 1200px) {
	.head {
		&__image {
			width: 420px;
		}
	}
}
@media (max-width: 768px) {
	.head {
		&__container {
			flex-direction: column;
		}
		&__content {
			gap: 15px;
		}
	}
}
@media (max-width: 480px) {
	.head {
		&__image {
			width: auto;
		}
	}
}

// want
.want {
	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: stretch;
		gap: 30px;
	}

	&__item {
		display: flex;
		padding-right: 10px;
		align-items: center;
		gap: 30px;
		border-radius: 0px 50px 50px 50px;
		border: 2px solid var(--white);
		transition: border 0.1s ease-in-out;

		&:hover {
			border: 2px solid var(--secondary-500);
		}
	}

	&__image {
		display: flex;
		align-items: center;
		width: 200px;
		height: 100%;
		flex-shrink: 0;
		border-radius: 48px 25px 0px 48px;
		img {
			border-radius: inherit;
		}
	}

	&__text {
		font-size: clamp(18px, 3vw, 28px);
		font-weight: 400;
		line-height: 125%;
	}
}
@media (max-width: 1300px) {
	.want {
		&__container {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		&__item {
			max-width: 900px;
			width: 100%;
		}
	}
}
@media (max-width: 768px) {
	.want {
		&__container {
			gap: 10px;
		}
		&__item {
			gap: 10px;
			border-radius: 0px 20px 20px 20px;
		}
		&__image {
			width: 100px;
			border-radius: 19px 11px 0px 19px;
			img {
				border-radius: inherit;
			}
		}
	}
}
@media (max-width: 480px) {
	.want__image {
		width: 88px;
	}
}

// media (image + text)
.media {
	&__container {
		display: flex;
		align-items: center;
		gap: 60px;
	}

	&__image {
		width: 450px;

		&-mobile {
			display: none;
			width: 340px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
	}
}
@media (max-width: 1200px) {
	.media {
		&__container {
			gap: 30px;
		}
		&__image {
			width: 400px;
		}
	}
}
@media (max-width: 992px) {
	.media {
		&__image {
			width: 350px;
		}
	}
}
@media (max-width: 768px) {
	.media {
		&__container {
			gap: 15px;
			flex-direction: column;
		}

		&__image {
			display: none;

			&-mobile {
				display: flex;
			}
		}

		&__content {
			gap: 15px;
			align-items: center;
		}
	}
}

// digit
.digit {
	&__container {
		display: flex;
		column-gap: 50px;
		justify-content: space-between;
		align-items: center;
	}

	&__group {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		gap: 130px;
		height: 100%;
		&-left {
			.digit__block {
				align-items: flex-end;
			}
		}

		&-right {
			.digit__block {
				align-items: flex-start;
			}
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 15px;
		min-width: 180px;
	}

	&__text {
		font-size: clamp(16px, 2.5vw, 20px);
		font-weight: 400;
		line-height: 135%;
	}

	&__number {
		color: var(--primary-500);
		font-family: 'RozhaOne';
		font-size: clamp(40px, 7.5vw, 128px);
		font-weight: 400;
		line-height: 57.813%;
		white-space: nowrap;
	}

	&__image {
		height: 460px;

		&-mobile {
			display: none;
		}
	}
}
@media (max-width: 1200px) {
	.digit {
		&__container {
			column-gap: 10px;
		}
		&__block {
			gap: 5px;
		}
		&__image {
			height: auto;
			flex-shrink: 1;
		}
	}
}
@media (max-width: 768px) {
	.digit {
		&__container {
			flex-direction: column;
			gap: 15px;
		}

		&__group {
			gap: 15px;
			&-left {
				.digit__block {
					align-items: center;

					.digit__text:first-child {
						text-align: right;
					}
				}
			}

			&-right {
				.digit__block {
					align-items: center;

					.digit__text:first-child {
						text-align: right;
					}
				}
			}
		}

		&__block {
			flex-direction: row;
			gap: 10px;
		}

		&__image {
			display: none;

			&-mobile {
				display: flex;
				width: 400px;
			}
		}
	}
}
@media (max-width: 480px) {
	.digit {
		&__image {
			&-mobile {
				width: auto;
			}
		}
	}
}

// animals
.animals {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__title {
		text-align: center;
	}

	&__filter {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px 10px;
		width: 100%;
	}

	&__tabs {
		max-width: fit-content;
		margin-inline: unset;
	}

	&__tab {
		padding: 8px 30px;
		border-radius: 8px;
		color: var(--primary-500);
		background: var(--gray-200);
		font-size: clamp(16px, 2.5vw, 20px);
		line-height: 135%;
		transition: background 0.01s ease-in-out, color 0.01s ease-in-out;

		&:hover {
			color: var(--white);
			background: var(--primary-500);
		}

		&:focus-visible {
			outline-color: var(--primary-500);
		}

		&-active {
			color: var(--white);
			background: var(--primary-500);

			&:hover {
				color: var(--white);
			}
		}
	}

	&__search {
		display: flex;
		max-width: 320px;
		padding: 8px 52px 8px 30px;
		align-items: center;
		border-radius: 8px;
		border: 1px solid var(--primary-200);
		background: var(--gray-200);
		color: var(--primary-500);
		font-size: clamp(16px, 2.5vw, 20px);
		line-height: 135%;

		&::placeholder {
			color: var(--primary-500);
		}
		&:focus-visible {
			outline-color: var(--primary-500);
		}

		&-group {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&-icon {
			content: '';
			position: absolute;
			height: 18px;
			width: 18px;
			right: 30px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-bottom: 30px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);
		transition: box-shadow 0.1s ease-in-out;

		&:hover {
			color: var(--black);
			box-shadow: var(--shadow);
		}

		&-image {
			display: flex;
			align-items: center;

			flex-shrink: 0;
			border-radius: 15px;
			img {
				border-radius: inherit;
			}
		}

		&-text {
			display: flex;
			padding: 0px 30px;
			flex-direction: column;
			gap: 10px;
		}

		&-title {
			font-size: clamp(18px, 3vw, 32px);
			font-weight: 400;
			line-height: 125%;
			letter-spacing: 1px;
		}

		&-info {
			display: flex;
			flex-direction: column;
			gap: 5px;
			font-size: clamp(14px, 2.5vw, 18px);
			line-height: 125%;
		}

		&-paragraph {
			display: flex;
			flex-wrap: wrap;

			gap: 0 10px;
		}
	}
}
.animals__tabs .swiper-scrollbar {
	opacity: 0;
}
.animals__tabs .swiper-slide {
	max-width: fit-content;
}
@media (max-width: 992px) {
	.animals {
		&__grid {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
	}
}
@media (max-width: 768px) {
	.h2.animals__title {
		text-transform: uppercase;
	}

	.animals {
		&__container {
			gap: 15px;
		}
		&__tab {
			padding: 6px 10px;
			line-height: 165%;
		}
		&__search {
			max-width: 100%;
			width: 100%;
			padding: 8px 34px 8px 10px;

			&-group {
				width: 100%;
			}
			&-icon {
				right: 10px;
			}
		}
		&__grid {
			grid-template-columns: repeat(1, 1fr);
			gap: 15px;
		}
		&__card {
			flex-direction: row;
			gap: 10px;
			padding-bottom: 0;
			border-radius: 10px;

			&-image {
				flex-shrink: 1;
				img {
					border-radius: 15px;
				}
			}

			&-text {
				justify-content: center;
				gap: 10px;
				padding: 10px 10px 10px 0;
			}

			&-info {
				gap: 0;
			}
		}
		&__swiper {
			padding: 0 17px;
		}
	}
}
@media (max-width: 480px) {
	.animals {
		&__card {
			&-image {
				align-items: center;
				flex-shrink: 0;
				width: 50%;

				img {
					object-fit: cover;
					aspect-ratio: 1.1 / 1;
				}
			}
		}
	}
}

// help
.help {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__title {
		text-align: center;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		padding: 30px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&-image {
			padding: 7px;
			border-width: 2px;
		}

		&-title {
			color: var(--primary-500);
			text-align: center;
			font-size: clamp(18px, 3.5vw, 32px);
			font-weight: 400;
			line-height: 125%;
			letter-spacing: 1px;
		}

		&-paragraph {
			width: 100%;
		}

		&-subtitle {
			color: var(--primary-500);
			text-align: center;
			font-weight: 400;
			font-size: clamp(16px, 2.5vw, 20px);
			line-height: 135%;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;

			li {
				margin-left: 20px;
				list-style-type: disc;

				&::marker {
					font-size: 10px;
				}
			}
		}
	}
}
@media (max-width: 992px) {
	.help {
		&__cards {
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 15px;
		}
		&__card {
			gap: 10px;
			padding: 15px;
			border-radius: 15px;
			max-width: 600px;
		}
	}
}
@media (max-width: 768px) {
	.help {
		&__container {
			gap: 15px;
		}
	}
}

// gallery
.gallery {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	&__title {
		text-align: center;
	}

	&__swiper {
		padding: 0 10px;
	}

	&__image {
		border-radius: 11px;
		img {
			border-radius: inherit;
		}
	}
}
@media (max-width: 768px) {
	.gallery {
		&__container {
			gap: 15px;
		}
		&__swiper {
			padding: 0;
		}
	}
}

// schedule
.schedule {
	&__container {
		display: flex;
		align-items: center;
		gap: 60px;
	}

	&__image {
		width: 450px;

		&-mobile {
			display: none;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__text {
		font-size: clamp(16px, 3vw, 20px);
		font-weight: 400;
		line-height: 135%;
	}

	&__connect {
		display: flex;
		align-items: center;
		gap: 30px;
		padding: 30px;
		border-radius: 30px;
		color: var(--white);
		background: var(--primary-200);

		&-text {
			font-size: clamp(16px, 3vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 28px;
		}

		&-link {
			width: 60px;
			height: 60px;

			img {
				width: 100%;
			}
		}
	}

	&__important {
		display: flex;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		border-radius: 30px;
		color: var(--white);
		background: var(--secondary-500);

		&-title {
			font-size: clamp(18px, 3.5vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
		}

		&-paragraph {
			font-size: clamp(16px, 3vw, 20px);

			font-weight: 400;
			line-height: 135%;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				position: relative;
				margin-left: 25px;
				font-size: clamp(16px, 3vw, 20px);
				font-weight: 400;
				line-height: 135%;

				&:hover {
					img {
						padding-left: 5px;
					}
				}

				&::before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					background-color: var(--white);
					top: 30%;
					left: -25px;
					border-radius: 50%;
				}

				a {
					display: flex;

					&:hover {
						color: var(--white);
					}
				}

				img {
					transition: padding 0.1s ease-in-out;
					margin-left: 10px;
				}
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}
@media (max-width: 1200px) {
	.schedule {
		&__image {
			width: 350px;
		}
		&__container {
			gap: 30px;
		}
	}
}
@media (max-width: 992px) {
	.schedule {
		&__connect-links {
			flex-direction: column;
			gap: 15px;
		}
	}
}
@media (max-width: 768px) {
	.schedule {
		&__container {
			flex-direction: column;
			gap: 30px;
		}
		&__content {
			align-items: center;
		}
		&__image {
			display: none;
			&-mobile {
				display: flex;
			}
		}

		&__title {
			margin-bottom: 0;
		}
		&__text {
			width: 100%;
		}

		&__connect {
			flex-direction: column;
			gap: 15px;
			padding: 30px 15px;

			&-links {
				flex-direction: row;
				gap: 21px;
			}
		}

		&__important {
			gap: 10px;
			padding: 30px 15px;
		}
	}
}

// rules
.rules {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__title {
		text-align: center;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__card {
		display: flex;
		padding: 20px;
		align-items: center;
		gap: 20px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);
		background: var(--white);

		&-number {
			display: flex;
			flex-shrink: 0;
			justify-content: center;
			align-items: center;
			width: 65px;
			height: 65px;
			border-radius: 150px;
			border: 3px solid var(--primary-500);
			background: var(--gray-200);
			color: var(--primary-400);
			font-size: 42px;
			font-weight: 500;
			line-height: 90%;
			letter-spacing: 1px;
		}

		&-text {
			font-size: 20px;
			font-weight: 400;
			line-height: 135%;
		}
	}
}

// histories
.histories {
	&__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}
	&__swiper {
		padding: 0 10px;

		.histories__card-content {
			height: 100%;
			justify-content: space-between;
		}

		.histories__card-text {
			height: 100%;
		}
	}

	&__title {
		text-align: center;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}

	&__card {
		display: flex;
		padding: 20px;
		align-items: center;
		gap: 20px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&-image {
			display: flex;
			flex-shrink: 0;
			border-radius: 150px;
			width: 200px;
			border: 3px solid var(--primary-500);
			overflow: hidden;
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
		&-title {
			font-size: clamp(16px, 2vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-text {
			color: var(--gray-500);
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 125%;
		}

		&-link {
			color: var(--primary-500);
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 165%;
			text-decoration-line: underline;
		}
	}
}
@media (max-width: 992px) {
	.histories {
		&__card {
			&-image {
				width: 120px;
			}
		}
	}
}
@media (max-width: 768px) {
	.histories {
		&__section {
			gap: 15px;
		}

		&__container {
			gap: 15px;
		}

		&__swiper {
			padding: 0 17px;
		}

		&__grid {
			grid-template-columns: 1fr;
			gap: 15px;

			&-container {
				gap: 15px;
			}
		}
		&__card {
			align-items: flex-start;
			gap: 10px;
			padding: 15px;

			&-image {
				border-radius: 55px;
				border-width: 1px;
				width: 70px;
			}

			&-content {
				gap: 5px;
			}
		}
	}
}

// news
.news {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__title {
		text-align: center;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-bottom: 30px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&-image {
			display: flex;
			overflow: hidden;
			align-items: center;
			max-height: 270px;
			border-radius: 15px 15px 0px 0px;
			min-height: 200px;

			img {
				border-radius: inherit;
				width: 100%;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			gap: 15px;
			padding: 0px 30px;
		}

		&-date {
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 125%;
		}

		&-group {
			display: flex;
			flex-direction: column;
		}

		&-title {
			color: var(--primary-500);
			font-size: clamp(16px, 2vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-text {
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 125%;
		}

		&-link {
			color: var(--primary-500);
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 165%;
			text-decoration-line: underline;
			margin-top: auto;
		}
	}
}
@media (max-width: 768px) {
	.news {
		&__container {
			gap: 15px;
		}

		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}

		&__card {
			gap: 15px;
			padding-bottom: 15px;

			&-content {
				gap: 5px;
				padding: 0px 15px;
			}

			&-text {
				max-height: 55px;
				overflow: hidden;
			}
		}
	}
}
@media (max-width: 480px) {
	.news {
		&__grid {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&__card {
			gap: 15px;
			padding-bottom: 15px;

			&-content {
				gap: 5px;
				padding: 0px 15px;
			}
		}
	}
}

// partner
.partner {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 200px;
		width: 100%;
		padding: 15px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);
		background: var(--white);
	}
}
@media (max-width: 768px) {
	.partner {
		&__container {
			gap: 15px;
		}

		&__image {
			height: 100px;
			padding: 10px;
			border-radius: 10px;
		}
	}
}

// contacts
.contacts {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__tel {
		white-space: nowrap;
		color: var(--primary-500);
		font-size: clamp(24px, 4vw, 42px);
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 1px;
	}

	&__hr {
		height: 1px;
		width: 100%;
		margin: 0;
		border-width: 0 0 1px 0;
		border-color: var(--gray-300);
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 8px;

		font-size: clamp(16px, 2vw, 20px);
		line-height: 135%;

		a {
			color: var(--primary-500);
		}

		.text-gray {
			font-size: clamp(14px, 1.5vw, 16px);
			line-height: 165%;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		height: 53px;

		&-links {
			display: flex;
			align-items: center;
			gap: 25px;
		}

		&-link {
			flex-shrink: 0;
			width: 53px;
			height: 53px;
			img {
				width: inherit;
				height: inherit;
			}
		}

		&-button {
			padding: 12px 60px;
			min-height: 53px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
}
@media (max-width: 768px) {
	.contacts {
		&__container {
			gap: 15px;
		}

		&__content {
			display: grid;
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&__col {
			gap: 10px;

			&:nth-child(2) {
				flex-direction: column-reverse;
			}
		}

		&__tel {
			width: 100%;
			text-align: left;
		}

		&__social {
			flex-direction: column;
			justify-content: center;
			gap: 15px;
			height: auto;

			&-links {
				gap: 21px;
			}

			&-link {
				width: 45px;
				height: 45px;
				img {
					width: inherit;
					height: inherit;
				}
			}
		}

		&__grid {
			grid-template-columns: 1fr;
			gap: 10px;
		}
	}
}

// map
.map {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 0px 50px 50px 50px;
		box-shadow: var(--map-shadow);
		background: var(--white);
	}

	&__title {
		color: var(--primary-500);
		font-size: clamp(24px, 3.5vw, 42px);
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 1px;
	}

	&__wrapper {
		width: 100%;
		overflow: hidden;
		border-radius: 15px;
	}
}
@media (max-width: 768px) {
	.map {
		&__section {
			padding-inline: 0;
		}

		&__container {
			gap: 15px;
			padding: 0px 17px 15px 17px;
		}
	}
}

// form
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	max-width: 930px;
	width: 100%;

	&__container {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	&__title {
		font-size: clamp(18px, 4vw, 24px);
		line-height: 102.917%;
		text-transform: uppercase;
		text-align: center;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		width: 100%;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__input {
		display: flex;
		padding: 10px 20px;
		align-items: center;
		border-radius: 8px;
		border: 1px solid var(--gray-300);
		background: var(--white);
		width: 100%;
		caret-color: var(--gray-500);
		outline-color: var(--primary-200);

		&:user-invalid {
			outline-color: var(--highlight-500);
		}

		&::placeholder {
			color: var(--black);
			font-size: clamp(14px, 2vw, 16px);
			font-weight: 400;
			line-height: 165%;
		}

		&::-moz-placeholder {
			color: var(--black);
			font-size: clamp(14px, 2vw, 16px);
			font-weight: 400;
			line-height: 165%;
		}

		&-textarea {
			height: 100%;
			resize: none;
		}
	}

	&__privacy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		width: 100%;
	}

	&__text {
		font-size: clamp(14px, 2vw, 16px);
		font-weight: 400;
		line-height: 165%;
	}

	&__link {
		color: var(--primary-500);
	}

	&__button {
		min-height: 52px;
		padding: 12px 60px;
	}
}
@media (max-width: 768px) {
	.form {
		gap: 15px;

		&__container {
			gap: 15px;
		}

		&__row {
			grid-template-columns: 1fr;
			gap: 10px;
		}

		&__col {
			gap: 10px;
		}

		&__input {
			padding: 10px;
			width: 100%;

			&-textarea {
				max-height: 400px;
			}
		}

		&__privacy {
			flex-direction: column;
			gap: 10px;
			text-align: center;
		}
	}
}

// animal
.animal {
	&__section {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__title {
		text-transform: uppercase;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&-paragraph {
			display: flex;
			gap: 10px;
			font-size: clamp(16px, 3vw, 20px);
			font-weight: 400;
			line-height: 165%;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-link {
			width: 32px;
			height: 32px;
			img {
				width: inherit;
				height: inherit;
			}
		}
	}

	&__important {
		display: flex;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		border-radius: 30px;
		color: var(--white);
		background: var(--secondary-500);

		&-title {
			font-size: clamp(18px, 3vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
		}

		&-paragraph {
			font-size: clamp(16px, 3vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-link {
			text-decoration: underline;
		}
	}

	&__connect {
		display: flex;
		flex-wrap: wrap;
		padding: 30px;
		align-items: center;
		gap: 30px;
		border-radius: 30px;
		color: var(--white);
		background: var(--primary-200);

		&-title {
			font-size: clamp(18px, 3vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
		}

		&-links {
			display: flex;
			flex-wrap: wrap;
			gap: 28.125px;
		}

		&-link {
			width: 60px;
			height: 60px;

			img {
				width: inherit;
				height: inherit;
			}
		}
	}

	&__images {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		width: 100%;
		overflow: hidden;

		.swiper-slide {
			border-radius: 15px;
		}

		.swiper-slide img,
		.swiper-slide video,
		.swiper-slide iframe {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		}

		.swiper-button-prev,
		.swiper-button-next {
			top: 55%;
		}
	}

	&__swiper {
		&-container {
			position: relative;
			max-width: clamp(280px, 45vw, 540px);
			padding-inline: 42px;

			.swiper-slide img,
			.swiper-slide video,
			.swiper-slide iframe {
				cursor: pointer;
				object-fit: cover;
			}
		}
		&-preview {
			max-width: clamp(280px, 80vw, 680px);

			.swiper-slide img,
			.swiper-slide video,
			.swiper-slide iframe {
				object-fit: contain;
			}
			.swiper-slide img {
				height: fit-content;
				margin-block: auto;
			}
		}
	}
}
@media (max-width: 768px) {
	.animal {
		&__section {
			gap: 15px;
		}

		&__container {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
			gap: 15px;
		}

		&__content {
			gap: 15px;
		}

		&__info {
			gap: 5px;
		}

		&__important {
			gap: 10px;
			padding: 15px 20px;

			&-title {
				line-height: 137.222%;
			}

			&-paragraph {
				line-height: 165%;
			}
		}

		&__connect {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;
			gap: 10px;
			padding: 15px 20px;

			&-links {
				width: 100%;
				justify-content: space-between;
				gap: 10px;
			}

			&-link {
				width: 45px;
				height: 45px;
			}
		}

		&__images {
			gap: 15px;
		}

		&__swiper {
			&-container {
				max-width: clamp(280px, 82vw, 490px);
			}
			&-preview {
				max-width: clamp(280px, 82vw, 500px);
			}
		}
	}
}

// Common overrides
.justify-content-center {
	display: flex;
	justify-content: center;
}
.justify-content-start {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.gap-0 {
	gap: 0;
}
.gap-sm {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
@media (max-width: 768px) {
	.gap-sm {
		gap: 15px;
	}
}
.mobile-visible {
	display: none;
}
@media (max-width: 768px) {
	.mobile-visible {
		display: inline-flex;
	}
}
.mobile-hidden {
	display: flex;
}
@media (max-width: 768px) {
	.mobile-hidden {
		display: none;
	}
}

/* Preset */
/* @media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
} */
