@import './_fonts';
@import './_reset';

:root {
	--black: #000000;
	--white: #ffffff;
	--gray-800: #2e2b2b;
	--gray-500: #838383;
	--gray-400: #556987;
	--gray-300: #d4d8e1;
	--gray-200: #f9f9f9;
	--gray-100: #f8f9fa;
	--primary-500: #00339c;
	--primary-400: #1c57df;
	--primary-300: #0073b4;
	--primary-200: #0474b5;
	--secondary-500: #cb1517;
	--highlight-500: #ffb843;
	--shadow: 0px 1px 2px 0px rgba(42, 51, 66, 0.06);
}

// Common

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: var(--gray-300);
}
::-webkit-scrollbar-thumb {
	background: var(--primary-500);
}

body {
	scrollbar-color: var(--primary-500) var(--gray-300);
	scrollbar-width: thin;
	background-color: var(--white);
	color: var(--black);
	font-family: Rubik;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 125%;
}

html {
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

h1 {
	color: var(--primary-500);
	font-size: clamp(28px, 4.5vw, 52px);
	font-weight: 500;
	line-height: 125%;
}
h2 {
	color: var(--black);
	font-size: clamp(24px, 4vw, 42px);
	font-weight: 500;
	line-height: 125%;
	letter-spacing: 1px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 50px;
}
@media (max-width: 768px) {
	.main {
		row-gap: 30px;
	}
}
.container {
	max-width: 1410px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}
@media (max-width: 768px) {
	.container {
		padding: 0 17px;
	}
}

.button {
	position: relative;
	padding: 12px 30px;
	border-radius: 8px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 125%;

	&:hover {
		cursor: pointer;
		opacity: 0.9;
		text-decoration: none;
	}

	&:active {
		opacity: 1;
	}

	&-uppercase {
		font-size: clamp(18px, 3vw, 24px);
		font-weight: 500;
		line-height: 102.917%;
		text-transform: uppercase;
	}

	&-secondary {
		background: var(--secondary-500);
		color: var(--white);
		&:hover {
			color: var(--white);
		}
		&:active {
			color: var(--white);
		}
	}

	&-primary {
		background: var(--primary-500);
		color: var(--white);
		&:hover {
			color: var(--white);
		}
		&:active {
			color: var(--white);
		}
	}

	&-gray {
		color: var(--primary-500);
		background: var(--gray-200);
		&:hover {
			color: var(--primary-500);
		}
		&:active {
			color: var(--primary-500);
		}
	}

	&-back {
		padding: 5px 15px 5px 12px;

		color: var(--primary-500);
		background: var(--gray-100);
		&:hover {
			color: var(--primary-500);
		}
		&:active {
			color: var(--primary-500);
		}

		&::before {
			content: '';
			position: absolute;
			left: -13px;
			width: 12.75px;
			top: 0;
			bottom: 0;
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-right: 14px solid var(--gray-100);
		}
	}

	&-prev {
	}

	&-next {
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		cursor: pointer;
		// color: var(--primary-500);
		color: inherit;
	}
	&:active {
		// color: var(--primary-500);
		color: inherit;
	}
}
.link {
	&-nav {
		color: var(--gray-500);
		font-size: 18px;
		font-weight: 400;
		line-height: 125%;

		&:hover {
			color: var(--primary-500);
		}
		&:active {
			color: var(--primary-500);
		}
	}
	&-active {
		color: var(--primary-500);
	}
}
.item {
	&-current {
		background: var(--gray-100);
	}
}

.text {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 400;
	line-height: 165%;

	&-gray {
		color: var(--gray-500);
	}

	&-container {
		max-width: 1160px;
	}
}
@media (max-width: 480px) {
	.text {
		line-height: 135%;
	}
}
.p {
	color: var(--black);
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 400;
	line-height: 125%;
}
@media (max-width: 480px) {
	.p {
		line-height: 135%;
	}
}

.frame {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	padding: 10px;
	border-radius: 250px;
	overflow: hidden;
	border: 5px solid var(--primary-300);
	overflow: hidden;
	img {
		border-radius: inherit;
	}
}
@media (max-width: 768px) {
	.frame {
		padding: 5px;
		border-radius: 128px;
		border: 2.5px solid var(--primary-300);
	}
}

.pagination {
	display: flex;
	width: fit-content;
	border-radius: 6px;
	border: 1px solid var(--gray-300);
	background: var(--white);
	box-shadow: var(--shadow);

	&-item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 34px;
		color: var(--gray-400);
		font-family: Poppins;
		font-size: 14px;
		font-weight: 500;
		line-height: 142.857%;

		&:hover {
			background: var(--gray-100);
		}

		&:not(:first-child) {
			border-left: 1px solid var(--gray-300);
		}
	}

	&-prev {
		border-radius: 6px 0 0 6px;
		&::after {
			content: url('/img/icon/arrow-prev.svg');
			height: 16px;
			width: 16px;
		}
	}
	&-next {
		border-radius: 0 6px 6px 0;
		&::after {
			content: url('/img/icon/arrow-next.svg');
			height: 16px;
			width: 16px;
		}
	}
}

// header
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white);
	border-bottom: 1px solid var(--highlight-500);
	margin-bottom: 30px;
	position: sticky;
	top: 0;
	z-index: 2;

	&__inner {
		padding: 15px 10px;
		max-width: 1410px;
		display: flex;
		gap: 30px;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	&__logo {
		max-width: 330px;
		min-width: 330px;

		&-md {
			display: none;
			width: 84px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		gap: 20px;
		height: 100%;
		width: 100%;
	}

	&__contact {
		display: flex;
		align-items: center;
		gap: clamp(20px, 5vw, 80px);

		&-tel {
			white-space: nowrap;
			color: var(--primary-500);
			font-size: 24px;
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;

			&:hover {
				color: var(--primary-200);
			}
		}

		&-social {
			display: flex;
			gap: 15px;
		}

		&-item {
			display: inline-block;
			width: 32px;
			height: 32px;
			overflow: hidden;
		}

		&-geo {
		}

		&-button {
		}
	}

	&__nav {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		width: 100%;

		&-item {
		}
	}

	&__link {
	}

	&__menu {
	}

	&__mobile {
		display: none;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&-logo {
			width: 42px;
		}
		&-button {
			padding: 8px 15px;
		}
		&-menu {
		}
	}
}
@media (max-width: 1200px) {
	.header {
		&__logo {
			display: none;
			&-md {
				display: block;
			}
		}
	}
}
@media (max-width: 768px) {
	.header {
		margin-bottom: 15px;
		&__inner {
			padding: 15px 17px;
		}
		&__logo {
			&-md {
				display: none;
			}
		}
		&__content {
			display: none;
		}

		&__mobile {
			display: flex;
		}
	}
}

// breadcrumbs
.breadcrumbs {
	&__container {
		margin-bottom: 30px;
		z-index: 1;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 5px 14px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		padding: 5px 5px 5px 12px;
		border-radius: 5px 0px 0px 5px;
		background: var(--gray-100);
		color: var(--gray-800);
		font-size: 14px;
		font-weight: 400;
		line-height: 125%;

		&::after {
			content: '';
			position: absolute;
			right: -13px;
			width: 12.75px;
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-left: 14px solid var(--gray-100);
		}
	}
}
@media (max-width: 768px) {
	.breadcrumbs {
		&__container {
			margin-bottom: 15px;
		}
	}
}

// footer
.footer {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	border-top: 3px solid var(--gray-300);
	background: var(--white);

	.p span:first-child {
		margin-right: 15px;
	}

	.p span {
		white-space: nowrap;
	}

	&__inner {
		padding: 90px 10px;
		max-width: 1410px;

		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 2fr 1fr;

		justify-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}

	&__logo {
		max-width: 330px;
		min-width: 230px;
	}

	&__menu {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		gap: 5px 15px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-shrink: 1;
		gap: 15px;

		&-item {
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 22px;

		&-adress {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-mail {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-group {
			display: flex;
			align-items: center;
			gap: 10px 15px;
			flex-wrap: wrap;
		}

		&-tel {
			white-space: nowrap;
			color: var(--primary-500);
			font-size: clamp(18px, 1.5vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
			&:hover {
				color: var(--primary-200);
			}
		}

		&-social {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-item {
			display: inline-block;
			width: 32px;
			height: 32px;
			overflow: hidden;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-button {
		}
	}
}
@media (max-width: 768px) {
	.footer {
		&__inner {
			grid-template-columns: 1fr;
			padding: 30px 17px;
		}

		&__info {
			align-items: center;
			text-align: center;
			row-gap: 5px;
		}

		&__logo {
			margin-bottom: 15px;
		}
		&__menu {
			align-items: center;
		}
		&__list {
			row-gap: 5px;
		}
		&__contact {
			align-items: center;
			row-gap: 15px;
		}
	}
}
@media (max-width: 480px) {
	.footer {
		font-size: 14px;

		.p span:first-child {
			margin-inline: 10px;
		}
		.p span {
			width: 100%;
		}

		&__inner {
			gap: 15px;
		}

		&__link {
			font-size: 14px;
		}
		&__contact {
			&-adress {
				gap: 10px;
				margin-bottom: -10px;
			}

			&-mail {
				gap: 10px;
			}
		}
	}
}

// head (the first block of page)
.head {
	&__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__container {
		display: flex;
		align-items: center;
		gap: 15px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__text {
		color: var(--black);
		font-size: clamp(18px, 2.5vw, 24px);
		font-weight: 400;
		line-height: 125%;
	}

	&__title {
	}

	&__image {
		width: 620px;
		flex-shrink: 0;
	}
}
@media (max-width: 1200px) {
	.head {
		&__image {
			width: 420px;
		}
	}
}
@media (max-width: 768px) {
	.head {
		&__container {
			flex-direction: column;
		}
		&__content {
			gap: 15px;
		}
	}
}

// want
.want {
	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 30px;
	}

	&__item {
		display: flex;
		padding-right: 10px;
		align-items: center;
		gap: 30px;
		border-radius: 0px 50px 50px 50px;
		border: 2px solid var(--white);

		&:hover {
			border: 2px solid var(--secondary-500);
		}
	}

	&__image {
		display: flex;
		width: 200px;
		height: 100%;
		flex-shrink: 0;
		border-radius: 48px 25px 0px 48px;
		img {
			border-radius: inherit;
		}
	}

	&__text {
		font-size: clamp(18px, 3vw, 28px);
		font-weight: 400;
		line-height: 125%;
	}
}
@media (max-width: 1300px) {
	.want {
		&__container {
			grid-template-columns: 1fr;
		}
	}
}
@media (max-width: 768px) {
	.want {
		&__container {
			gap: 10px;
		}
		&__item {
			gap: 10px;
			border-radius: 0px 20px 20px 20px;
		}
		&__image {
			width: 100px;
			border-radius: 19px 11px 0px 19px;
			img {
				border-radius: inherit;
			}
		}
	}
}
@media (max-width: 480px) {
	.want__image {
		width: 88px;
	}
}

// media (image + text)
.media {
	&__container {
		display: flex;
		align-items: center;
		gap: 60px;
	}

	&__image {
		width: 450px;

		&-mobile {
			display: none;
			width: 340px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
	}

	&__title {
	}

	&__text {
	}

	&__button {
	}
}
@media (max-width: 1200px) {
	.media {
		&__container {
			gap: 30px;
		}
		&__image {
			width: 400px;
		}
	}
}
@media (max-width: 992px) {
	.media {
		&__image {
			width: 350px;
		}
	}
}
@media (max-width: 768px) {
	.media {
		&__container {
			gap: 15px;
			flex-direction: column;
		}

		&__image {
			display: none;

			&-mobile {
				display: flex;
			}
		}

		&__content {
			gap: 15px;
			align-items: center;
		}
	}
}

// digit
.digit {
	&__container {
		display: flex;
		column-gap: 50px;
		justify-content: space-between;
		align-items: center;
	}

	&__group {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
		gap: 130px;
		height: 100%;
		&-left {
			.digit__block {
				align-items: flex-end;
			}
		}

		&-right {
			.digit__block {
				align-items: flex-start;
			}
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 15px;
		min-width: 180px;
	}

	&__text {
		font-size: clamp(16px, 2.5vw, 20px);
		font-weight: 400;
		line-height: 135%;
	}

	&__number {
		color: var(--primary-500);
		font-family: 'RozhaOne';
		font-size: clamp(40px, 7.5vw, 128px);
		font-weight: 400;
		line-height: 57.813%;
		white-space: nowrap;
	}

	&__image {
		height: 460px;

		&-mobile {
			display: none;
		}
	}
}
@media (max-width: 1200px) {
	.digit {
		&__container {
			column-gap: 10px;
		}
		&__block {
			gap: 5px;
		}
		&__image {
			height: auto;
			flex-shrink: 1;
		}
	}
}
@media (max-width: 768px) {
	.digit {
		&__container {
			flex-direction: column;
			gap: 15px;
		}

		&__group {
			gap: 15px;
			&-left {
				.digit__block {
					align-items: center;
				}
			}

			&-right {
				.digit__block {
					align-items: center;
				}
			}
		}

		&__block {
			flex-direction: row;
			gap: 10px;
		}

		&__image {
			display: none;

			&-mobile {
				display: flex;
				width: 400px;
			}
		}
	}
}
@media (max-width: 480px) {
	.digit {
		&__image {
			&-mobile {
				width: auto;
			}
		}
	}
}

// animals
.animals {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__title {
		text-align: center;
	}

	&__filter {
		display: flex;
		justify-content: flex-start;
		gap: 10px;
		overflow-x: auto;
		padding: 2px;

		&-wrapper {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 15px 10px;
			width: 100%;
		}
	}

	&__tab {
		padding: 8px 30px;
		border-radius: 8px;
		color: var(--primary-500);
		background: var(--gray-200);
		font-size: clamp(16px, 2.5vw, 20px);
		line-height: 135%;

		&:hover {
			color: var(--white);
			background: var(--primary-500);
		}

		&:focus-visible {
			outline-color: var(--primary-500);
		}

		&-active {
			color: var(--white);
			background: var(--primary-500);

			&:hover {
				color: var(--white);
			}
		}
	}

	&__search {
		display: flex;
		max-width: 320px;
		padding: 8px 52px 8px 30px;
		align-items: center;
		border-radius: 8px;
		border: 1px solid var(--primary-200);
		background: var(--gray-200);
		color: var(--primary-500);
		font-size: clamp(16px, 2.5vw, 20px);
		line-height: 135%;

		&::placeholder {
			color: var(--primary-500);
		}
		&:focus-visible {
			outline-color: var(--primary-500);
		}

		&-group {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		&-icon {
			content: '';
			position: absolute;
			height: 18px;
			width: 18px;
			right: 30px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-bottom: 30px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&:hover {
			color: var(--black);
		}

		&-image {
			display: flex;
			flex-shrink: 0;
			border-radius: 15px;
			img {
				border-radius: inherit;
			}
		}

		&-text {
			display: flex;
			padding: 0px 30px;
			flex-direction: column;
			gap: 10px;
		}

		&-title {
			font-size: clamp(18px, 3vw, 32px);
			font-weight: 400;
			line-height: 125%;
			letter-spacing: 1px;
		}

		&-info {
			display: flex;
			flex-direction: column;
			gap: 5px;
			font-size: clamp(14px, 2.5vw, 18px);
			line-height: 125%;
		}

		&-paragraph {
			display: flex;
			flex-wrap: wrap;

			gap: 0 10px;
		}
	}
}
h1.animals__title {
	text-align: left;
	width: 100%;
}
@media (max-width: 992px) {
	.animals {
		&__grid {
			grid-template-columns: repeat(2, 1fr);
			gap: 30px;
		}
	}
}
@media (max-width: 768px) {
	.animals {
		&__container {
			gap: 15px;
		}
		&__tab {
			padding: 6px 10px;
			line-height: 165%;
		}

		&__search {
			max-width: 100%;
			width: 100%;
			padding: 8px 34px 8px 10px;

			&-group {
				width: 100%;
			}
			&-icon {
				right: 10px;
			}
		}

		&__grid {
			grid-template-columns: repeat(1, 1fr);
			gap: 15px;
		}
		&__card {
			flex-direction: row;
			gap: 10px;
			padding-bottom: 0;
			border-radius: 10px;

			&-image {
				flex-shrink: 1;
				img {
					border-radius: 15px;
				}
			}

			&-text {
				justify-content: center;
				gap: 10px;
				padding: 10px 10px 10px 0;
			}
		}
	}
}
@media (max-width: 480px) {
	.animals {
		&__card {
			&-image {
				align-items: center;
				flex-shrink: 0;
				width: 50%;

				img {
					width: max-content;
				}
			}
		}
	}
}

// help
.help {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__title {
		text-align: center;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		padding: 30px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&-image {
			padding: 7px;
			border-width: 2px;
		}

		&-title {
			color: var(--primary-500);
			text-align: center;
			font-size: clamp(18px, 3.5vw, 32px);
			font-weight: 400;
			line-height: 125%;
			letter-spacing: 1px;
		}

		&-paragraph {
			width: 100%;
		}

		&-subtitle {
			color: var(--primary-500);
			text-align: center;
			font-weight: 400;
			font-size: clamp(16px, 2.5vw, 20px);
			line-height: 135%;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 15px;

			li {
				margin-left: 20px;
				list-style-type: disc;

				&::marker {
					font-size: 10px;
				}
			}
		}
	}

	&__button {
	}
}
@media (max-width: 992px) {
	.help {
		&__cards {
			grid-template-columns: 1fr;
			justify-items: center;
			gap: 15px;
		}
		&__card {
			gap: 10px;
			padding: 15px;
			border-radius: 15px;
			max-width: 600px;
		}
	}
}

// About page

// schedule
.schedule {
	&__container {
		display: flex;
		align-items: center;
		gap: 60px;
	}

	&__image {
		width: 450px;

		&-mobile {
			display: none;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 15px;
	}

	&__title {
		margin-bottom: 15px;
	}

	&__text {
		font-size: clamp(16px, 3vw, 20px);
		font-weight: 400;
		line-height: 135%;
	}

	&__connect {
		display: flex;
		align-items: center;
		gap: 30px;
		padding: 30px;
		border-radius: 30px;
		color: var(--white);
		background: var(--primary-200);

		&-text {
			font-size: clamp(16px, 3vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 28px;
		}

		&-link {
			width: 60px;
			height: 60px;

			img {
				width: 100%;
			}
		}
	}

	&__important {
		display: flex;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		border-radius: 30px;
		color: var(--white);
		background: var(--secondary-500);

		&-title {
			font-size: clamp(18px, 3.5vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
		}

		&-paragraph {
			font-size: clamp(16px, 3vw, 20px);

			font-weight: 400;
			line-height: 135%;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 10px;

			li {
				position: relative;

				margin-left: 25px;
				font-size: clamp(16px, 3vw, 20px);
				font-weight: 400;
				line-height: 135%;

				&::before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					background-color: var(--white);
					top: 30%;
					left: -25px;
					border-radius: 50%;
				}

				a {
					display: flex;

					&:hover {
						color: var(--white);
					}
				}

				img {
					margin-left: 10px;
				}
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}
@media (max-width: 1200px) {
	.schedule {
		&__image {
			width: 350px;
		}
		&__container {
			gap: 30px;
		}
	}
}
@media (max-width: 992px) {
	.schedule {
		&__connect-links {
			flex-direction: column;
			gap: 15px;
		}
	}
}
@media (max-width: 768px) {
	.schedule {
		&__container {
			flex-direction: column;
			gap: 30px;
		}
		&__content {
			align-items: center;
		}
		&__image {
			display: none;
			&-mobile {
				display: flex;
			}
		}

		&__title {
			margin-bottom: 0;
		}
		&__text {
			width: 100%;
		}

		&__connect {
			flex-direction: column;
			gap: 15px;
			padding: 30px 15px;

			&-links {
				flex-direction: row;
				gap: 21px;
			}
		}

		&__important {
			gap: 10px;
			padding: 30px 15px;
		}
	}
}

// rules
.rules {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__title {
		text-align: center;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	&__group {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__card {
		display: flex;
		padding: 20px;
		align-items: center;
		gap: 20px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);
		background: var(--white);

		&-number {
			display: flex;
			flex-shrink: 0;
			justify-content: center;
			align-items: center;
			width: 65px;
			height: 65px;
			border-radius: 150px;
			border: 3px solid var(--primary-500);
			background: var(--gray-200);
			color: var(--primary-400);
			font-size: 42px;
			font-weight: 500;
			line-height: 90%;
			letter-spacing: 1px;
		}

		&-text {
			font-size: 20px;
			font-weight: 400;
			line-height: 135%;
		}
	}
}

// Histories page

.histories {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 50px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 30px;
		}
	}

	&__card {
		display: flex;
		padding: 20px;
		align-items: center;
		gap: 20px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&-image {
			display: flex;
			flex-shrink: 0;
			border-radius: 150px;
			width: 200px;
			border: 3px solid var(--primary-500);
			overflow: hidden;
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
		&-title {
			font-size: clamp(16px, 2vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-text {
			color: var(--gray-500);
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 125%;
		}

		&-link {
			color: var(--primary-500);
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 165%;
			text-decoration-line: underline;
		}
	}

	&__pagination {
	}
}
@media (max-width: 992px) {
	.histories {
		&__card {
			&-image {
				width: 120px;
			}
		}
	}
}
@media (max-width: 768px) {
	.histories {
		&__grid {
			grid-template-columns: 1fr;
			gap: 15px;

			&-container {
				gap: 15px;
			}
		}
		&__card {
			align-items: flex-start;
			gap: 10px;
			padding: 15px;

			&-image {
				border-radius: 55px;
				border-width: 1px;
				width: 70px;
			}

			&-content {
				gap: 5px;
			}
		}
	}
}

// News page

.news {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-bottom: 30px;
		border-radius: 15px;
		border: 1px solid var(--gray-300);

		&-image {
			border-radius: 15px 15px 0px 0px;
			img {
				border-radius: inherit;
			}
		}

		&-content {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding: 0px 30px;
		}

		&-date {
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 125%;
		}

		&-group {
			display: flex;
			flex-direction: column;
		}

		&-title {
			color: var(--primary-500);
			font-size: clamp(16px, 2vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-text {
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 125%;
		}

		&-link {
			color: var(--primary-500);
			font-size: clamp(14px, 1.5vw, 16px);
			font-weight: 400;
			line-height: 165%;
			text-decoration-line: underline;
		}
	}

	&__pagination {
	}
}
h1.news__title {
	width: 100%;
	text-align: left;
}
@media (max-width: 768px) {
	.news {
		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}

		&__card {
			gap: 15px;
			padding-bottom: 15px;

			&-content {
				gap: 5px;
				padding: 0px 15px;
			}

			&-text {
				max-height: 55px;
				overflow: hidden;
			}
		}
	}
}
@media (max-width: 480px) {
	.news {
		&__container {
			gap: 15px;
		}

		&__grid {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&__card {
			gap: 15px;
			padding-bottom: 15px;

			&-content {
				gap: 5px;
				padding: 0px 15px;
			}
		}
	}
}

// Contacts page

// contacts
.contacts {
	&__container {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__title {
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__tel {
		white-space: nowrap;
		color: var(--primary-500);
		font-size: clamp(24px, 4vw, 42px);
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 1px;
	}

	&__hr {
		height: 1px;
		width: 100%;
		margin: 0;
		border-width: 0 0 1px 0;
		border-color: var(--gray-300);
	}

	&__group {
		display: flex;
		flex-direction: column;
		gap: 8px;

		font-size: clamp(16px, 2vw, 20px);
		line-height: 135%;

		a {
			color: var(--primary-500);
		}

		.text-gray {
			font-size: clamp(14px, 1.5vw, 16px);
			line-height: 165%;
		}
	}

	&__social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		height: 53px;

		&-links {
			display: flex;
			align-items: center;
			gap: 25px;
		}

		&-link {
			flex-shrink: 0;
			width: 53px;
			height: 53px;
			img {
				width: inherit;
				height: inherit;
			}
		}

		&-button {
			padding: 12px 60px;
			min-height: 53px;
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
}
@media (max-width: 768px) {
	.contacts {
		&__container {
			gap: 15px;
		}

		&__content {
			display: grid;
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&__col {
			gap: 10px;

			&:nth-child(2) {
				flex-direction: column-reverse;
			}
		}

		&__tel {
			width: 100%;
			text-align: left;
		}

		&__social {
			flex-direction: column;
			justify-content: center;
			gap: 15px;
			height: auto;

			&-links {
				gap: 21px;
			}

			&-link {
				width: 45px;
				height: 45px;
				img {
					width: inherit;
					height: inherit;
				}
			}
		}

		&__grid {
			grid-template-columns: 1fr;
			gap: 10px;
		}
	}
}

// map

.map {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		padding: 0px 50px 50px 50px;
		box-shadow: 0px 46px 80px 0px rgba(40, 54, 91, 0.02),
			0px 19.218px 33.422px 0px rgba(40, 54, 91, 0.01),
			0px 10.275px 17.869px 0px rgba(40, 54, 91, 0.01),
			0px 5.76px 10.017px 0px rgba(40, 54, 91, 0.01),
			0px 3.059px 5.32px 0px rgba(40, 54, 91, 0.01),
			0px 1.273px 2.214px 0px rgba(40, 54, 91, 0.01);
		background: var(--white);
	}

	&__title {
		color: var(--primary-500);
		font-size: clamp(24px, 3.5vw, 42px);
		font-weight: 500;
		line-height: 125%;
		letter-spacing: 1px;
	}

	&__wrapper {
		width: 100%;
		overflow: hidden;
		border-radius: 15px;
	}
}
@media (max-width: 768px) {
	.map {
		&__section {
			padding-inline: 0;
		}

		&__container {
			gap: 15px;
			padding: 0px 17px 15px 17px;
		}
	}
}

// form
.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	max-width: 930px;
	width: 100%;

	&__container {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	&__title {
		font-size: clamp(18px, 4vw, 24px);
		line-height: 102.917%;
		text-transform: uppercase;
		text-align: center;
	}

	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
		width: 100%;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__group {
	}

	&__label {
	}

	&__input {
		display: flex;
		padding: 10px 20px;
		align-items: center;
		border-radius: 8px;
		border: 1px solid var(--gray-300);
		background: var(--white);
		width: 100%;
		caret-color: var(--gray-500);
		outline-color: var(--primary-200);

		&:user-invalid {
			outline-color: var(--highlight-500);
		}

		&::placeholder {
			color: var(--black);
			font-size: clamp(14px, 2vw, 16px);
			font-weight: 400;
			line-height: 165%;
		}

		::-moz-placeholder {
			color: var(--black);
			font-size: clamp(14px, 2vw, 16px);
			font-weight: 400;
			line-height: 165%;
		}

		&-textarea {
			height: 100%;
			resize: none;
		}
	}

	&__privacy {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		width: 100%;
	}

	&__text {
		font-size: clamp(14px, 2vw, 16px);
		font-weight: 400;
		line-height: 165%;
	}

	&__link {
		color: var(--primary-500);
	}

	&__button {
		min-height: 52px;
		padding: 12px 60px;
	}
}
@media (max-width: 768px) {
	.form {
		gap: 15px;

		&__container {
			gap: 15px;
		}

		&__row {
			grid-template-columns: 1fr;
			gap: 10px;
		}

		&__col {
			gap: 10px;
		}

		&__input {
			padding: 10px;
			width: 100%;

			&-textarea {
				max-height: 400px;
			}
		}

		&__privacy {
			flex-direction: column;
			gap: 10px;
			text-align: center;
		}
	}
}

// Animal page

.animal {
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__title {
		text-transform: uppercase;

		&-mobile {
			width: 100%;
			text-align: left;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&-paragraph {
			display: flex;
			gap: 10px;
			font-size: clamp(16px, 3vw, 20px);
			font-weight: 400;
			line-height: 165%;
		}

		&-links {
			display: flex;
			align-items: center;
			gap: 15px;
		}

		&-link {
			width: 32px;
			height: 32px;
			img {
				width: inherit;
				height: inherit;
			}
		}
	}

	&__important {
		display: flex;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		border-radius: 30px;
		color: var(--white);
		background: var(--secondary-500);

		&-title {
			font-size: clamp(18px, 3vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
		}

		&-paragraph {
			font-size: clamp(16px, 3vw, 20px);
			font-weight: 400;
			line-height: 135%;
		}

		&-link {
			text-decoration: underline;
		}
	}

	&__connect {
		display: flex;
		flex-wrap: wrap;
		padding: 30px;
		align-items: center;
		gap: 30px;
		border-radius: 30px;
		color: var(--white);
		background: var(--primary-200);

		&-title {
			font-size: clamp(18px, 3vw, 24px);
			font-weight: 500;
			line-height: 102.917%;
			text-transform: uppercase;
		}

		&-links {
			display: flex;
			flex-wrap: wrap;
			gap: 28.125px;
		}

		&-link {
			width: 60px;
			height: 60px;

			img {
				width: inherit;
				height: inherit;
			}
		}
	}

	&__image {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	&__swiper {
		&-preview {
		}
	}
}
@media (max-width: 768px) {
	.animal {
		&__container {
			display: flex;
			flex-direction: column-reverse;
			gap: 15px;
		}

		&__content {
			gap: 15px;
		}

		&__info {
			gap: 5px;
		}

		&__important {
			gap: 10px;
			padding: 15px 20px;

			&-title {
				line-height: 137.222%;
			}

			&-paragraph {
				line-height: 165%;
			}
		}

		&__connect {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;
			gap: 10px;
			padding: 15px 20px;

			&-links {
				width: 100%;
				flex-wrap: nowrap;
				justify-content: space-between;
				gap: 10px;
			}

			&-link {
				width: 45px;
				height: 45px;
			}
		}

		&__image {
			gap: 15px;
		}

		&__swiper {
			&-preview {
			}
		}
	}
}

// Common overrides
.mobile-visible {
	display: none;
}
@media (max-width: 768px) {
	.mobile-visible {
		display: inline-block;
	}
}
.mobile-hidden {
	display: flex;
}
@media (max-width: 768px) {
	.mobile-hidden {
		display: none;
	}
}

.gap-0 {
	gap: 0;
}
.gap-15 {
	gap: 15px;
}

/* Preset */
/* @media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
} */
